# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/
/build

# env & secrets
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
*.log
.vercel
